<table class="profile" summary="Profile information">
	<h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
    </h1>
  <tr>
    <td class="main">      
	<% if !current_user.game.nil? %>
		<div id="gamecontainer" data-id="<%= @game.id %>"> 
			<%= render @game %>	
		</div>
	<% else %>
		<div id="controls"> <%= render 'users/play_controls' %> </div>
	<% end %>		
    </td>	
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
  
</table>